{
  "debug": true,
  "branches": [
    "main"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/npm"
  ],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/npm"
  ],
  "publish": [
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist"
      }
    ],
    {
      "path": "@semantic-release/github"
    }
  ]
}
